@page "/"

<style>
    .pin-panel{
        top:3.2em;
        right:1em;
        left:1em;
    }
</style>

    <div class="bg-light d-flex justify-content-center">
        <div class="btn-group btn-group-sm mb-1 ml-2 mr-2 text-nowrap" style="overflow:hidden">
            <button class="btn btn-light">новости</button>
            <button class="btn btn-light active">публикации</button>
            <button class="btn btn-light">видео</button>
            <button class="btn btn-light">статьи</button>
            <button class="btn btn-light">жития</button>
            <button class="btn btn-light">для клироса</button>
        </div>
        <div class="btn-group btn-group-sm mb-1">
            <button class="btn btn-dark" onclick="$(this).parent().parent().toggleClass('fixed-top pin-panel')"><i class="fas fa-map-pin"></i></button>
            <button class="btn btn-dark">...</button>
        </div>
    </div>


    <div class="bg-light text-dark" style="margin-bottom:5.5em">
        <div class="card-body">
            <header>
                <h2>Молоко</h2>
                <div class="mt-1 mb-2 d-flex justify-content-start align-items-center" style="font-size:.85em">
                    <a class="card-link" href="#">10 мая 2012,</a>
                    <a class="card-link ml-2" href="#">Иванов Сергей</a>
                </div>
                <div class="mb-3 text-muted" style="font-size:.85em">
                    Сколько силы даёт молоко и как его тяжело добывать
                </div>
            </header>
            <content>
                <div class="mb-3">
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                    <div class="mt-4 mb-4" style="background: url(https://eda-land.ru/images/article/orig/2018/07/celnoe-moloko-chto-eto-takoe-kakuyu-zhirnost-imeet-i-kakimi-svojstvami-obladaet.jpg) center; background-size: cover; min-height: 300px;" />
                    <p>
                        Сама идея работы генератора заимствована у псевдосоветского "универсального кода речей", из которого мы выдернули используемые в нём словосочетания, запилили приличное количество собственных, в несколько раз усложнили алгоритм, добавив новые схемы сборки, – и оформили в виде быстрого и удобного сервиса для получения тестового контента.
                    </p>
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex" style="font-size:.85em">
                        <a class="card-link" href="#">#Природа</a>
                        <a class="card-link ml-2" href="#">#Объявление</a>
                        <a class="card-link ml-2" href="#">#Фотографии</a>
                    </div>
                    <div class="d-flex">
                        <a class="card-link d-flex align-items-center" style="font-size:1.2em; cursor:pointer;"><span style="font-size:.85em; margin-right:.12em">3</span><span class="far fa-share-square"></span></a>
                        <a class="card-link d-flex align-items-center ml-2 mr-1" style="font-size:1.1em; cursor:pointer;" onclick="$(this).parent().parent().parent().next().toggle('collapse')"><span style="font-size:.85em; margin-right:.12em">1</span><span class="far fa-comments"></span></a>
                    </div>
                </div>
            </content>
            <footer class="collapse mt-3">
                <h6>Комментарии</h6>
                <div style="font-size:.85em">
                    <div class="input-group input-group-sm mt-2 mb-2">
                        <input class="form-control bg-white border-0 rounded-sm" placeholder="новый комментарий" />
                        <div class="input-group-append">
                            <button class="btn btn-link rounded-sm"><span class="fas fa-plus-circle" style="font-size:1rem"></span></button>
                        </div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="bg-light text-dark" style="margin-bottom:5.5em">
        <div class="card-body">
            <header>
                <h2>Природа</h2>
                <div class="mt-1 mb-2 d-flex justify-content-start align-items-center" style="font-size:.85em">
                    <a class="card-link" href="#">10 мая 2012,</a>
                    <a class="card-link ml-2" href="#">Иванов Сергей</a>
                </div>
                <div class="mb-3 text-muted" style="font-size:.85em">
                    Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                </div>
            </header>
            <content>
                <div class="mb-3">
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                    <div class="mt-4 mb-4" style="background: url(https://s1.1zoom.ru/big3/621/359909-svetik.jpg) center; background-size:cover; min-height:300px;" />
                    <p>
                        Сама идея работы генератора заимствована у псевдосоветского "универсального кода речей", из которого мы выдернули используемые в нём словосочетания, запилили приличное количество собственных, в несколько раз усложнили алгоритм, добавив новые схемы сборки, – и оформили в виде быстрого и удобного сервиса для получения тестового контента.
                    </p>
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex" style="font-size:.85em">
                        <a class="card-link" href="#">#Природа</a>
                        <a class="card-link ml-2" href="#">#Объявление</a>
                        <a class="card-link ml-2" href="#">#Фотографии</a>
                    </div>
                    <div class="d-flex">
                        <a class="card-link d-flex align-items-center" style="font-size:1.2em; cursor:pointer;"><span style="font-size:.85em; margin-right:.12em">3</span><span class="far fa-share-square"></span></a>
                        <a class="card-link d-flex align-items-center ml-2 mr-1" style="font-size:1.1em; cursor:pointer;" onclick="$(this).parent().parent().parent().next().toggle('collapse')"><span style="font-size:.85em; margin-right:.12em">1</span><span class="far fa-comments"></span></a>
                    </div>
                </div>
            </content>
            <footer class="collapse mt-3">
                <h6>Комментарии</h6>
                <div style="font-size:.85em">
                    <div class="input-group input-group-sm mt-2 mb-2">
                        <input class="form-control bg-white border-0 rounded-sm" placeholder="новый комментарий" />
                        <div class="input-group-append">
                            <button class="btn btn-link rounded-sm"><span class="fas fa-plus-circle" style="font-size:1rem"></span></button>
                        </div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                    <div class="d-flex ml-2 mb-2">
                        <a class="card-link mr-2" href="#">Иванов Сергей</a>
                        <div>Всем привет</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="bg-light text-dark" style="margin-bottom:5.5em">
        <div class="card-body">
            <header>
                <h2>Деревья</h2>
                <div class="mt-1 mb-2 d-flex justify-content-start align-items-center" style="font-size:.85em">
                    <a class="card-link" href="#">10 мая 2012,</a>
                    <a class="card-link ml-2" href="#">Иванов Сергей</a>
                </div>
                <div class="mb-3 text-muted" style="font-size:.85em">
                    Важно, чтобы было очень много деревьев
                </div>
            </header>
            <content>
                <div class="mb-3">
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                    <p>
                        Генерация рыбатекста происходит довольно просто: есть несколько фиксированных наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения. Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex" style="font-size:.85em">
                        <a class="card-link" href="#">#Природа</a>
                        <a class="card-link ml-2" href="#">#Деревья</a>
                        <a class="card-link ml-2" href="#">#Фотографии</a>
                    </div>
                    <div class="d-flex">
                        <a class="card-link d-flex align-items-center" style="font-size:1.2em; cursor:pointer;"><span style="font-size:.85em; margin-right:.12em">3</span><span class="far fa-share-square"></span></a>
                        <a class="card-link d-flex align-items-center ml-2 mr-1" style="font-size:1.1em; cursor:pointer;" onclick="$(this).parent().parent().parent().next().toggle('collapse')"><span style="font-size:.85em; margin-right:.12em">1</span><span class="far fa-comments"></span></a>
                    </div>
                </div>
            </content>
            <footer class="collapse mt-3">
                <h6>Комментарии</h6>
                <div style="font-size:.85em">
                    <div class="input-group input-group-sm mt-2 mb-2">
                        <input class="form-control bg-white border-0 rounded-sm" placeholder="новый комментарий" />
                        <div class="input-group-append">
                            <button class="btn btn-link rounded-sm"><span class="fas fa-plus-circle" style="font-size:1rem"></span></button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



