@page "/profile"

<h1>Профиль пользователя</h1>

<div class="row mt-5">
    <div class="col-4">
        <div class="text-center mb-3"><span class="far fa-user-circle" style="font-size:15em"></span></div>
        <h4 class="text-center">Иванов Иван Петрович</h4>
        <p class="text-center">Администратор</p>
    </div>
</div>


@code {

}
